body{
    border-style: double;
    margin-left: 300px;
    margin-right: 300px;
}
span{
    font-family: broadway;
    font-size: 20px;
}
strong {
    font-family: goudy stout;
    font-size: 25px;
}
b{
    font-family: bodoni MT black;
    font-size: 22px;
}
li{
    display: inline;
    font-size: small;
    padding: 13px;
}
a:link{
    color: #111;
}

a:visited{
    color: #111;
}

a:hover{
    color: rgb(243, 83, 83);
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
}